body {
       font-weight: 400;
       line-height: 1.75em;
       margin: 0;
       font-family:"Arbutus Slab";
       font-size: 16px;
  }
   
   #footer{
       background-color:#fff;
       padding:20px;
  }
   .carousel-inner img{
       width:100%;
       margin:auto;
       max-height:800px;
       content: 800;
  }
   .colorme{
       color:#1C1C84;
  }
   #category {
      padding-top:50px;
      height:100%;
      color:white;
       background-color:#3D3D46
  }
   #gallery {
      padding-top:50px;
      height:100%;
      color:white;
       background-color:#3D3D46
  }
   #location {
      padding-top:50px;
      height:1200px;
      color:white;
       background-color:#3D3D46
  }
   #home {
      padding-top:50px;
      height:100%;
      color:white;
       background-color:#3D3D46
  }
   #contact {
      padding-top:50px;
      height:100%;
      color:white;
       background-color:#3D3D46
  }
   #aboutus {
      padding-top:50px;
      height:100%;
      color:white;
       background-color: #3D3D46
  }
   @media (max-width:100%) {
       .carousel-caption {
           display: none;
      }
  }
   #contact h3{
       color:#E0350B;
  }
   